.mainProducts {
  .babyPic {
    padding: 685px 0 50px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-size: 100%;
    background-image: url("https://www.pigeonarabia.com/static/media/banner4.e868f45f.jpeg");
    .title {
      width: 100%;
      position: absolute;
      background-color: rgba(230, 85, 80, 0.7);
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;
      font-size: 36px;
      text-align: center;
      margin-top: 3rem;
      h1 {
        font-size: 36px;
        font-weight: 400;
        color: #fff;
        text-transform: capitalize;
        display: inline-block;
        position: relative;
        font-family: "Noto Sans JP", sans-serif;
        width: 75%;
        margin: 0;
      }
    }
  }
  .theme {
    margin-top: 6rem;
    background-color: #f6f6f6;
    .container {
      .productList {
        background-color: #f6f6f6 !important;
        .product {
          display: flex;
          list-style: none;
          padding: 0.5rem 0;
          background-color: #f6f6f6 !important;
          margin-bottom: 0;

          .productMnu::before {
            float: left;
            padding-right: 0.5rem;
            color: #6c757d;
            padding-left: 0.5rem;
            content: ">";
          }
          .backHome {
            text-decoration: none;
            .home {
              color: #444;
              font-weight: 500;
              font-size: 14px;
              padding-left: 0.5rem;
            }
          }
        }
      }
    }
  }
  .container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 4rem;
    .row {
      padding-left: 9rem;
      padding-right: 9rem;
      .gridWrap {
        margin-bottom: 1rem;
        .productItem {
          width: 287px;
          padding-bottom: 100%;
          background-size: 100%;
          background-position: 50%;
          background-repeat: no-repeat;
          cursor: pointer;
          position: relative;
          display: flex;
          justify-content: center;
          align-items: center;
          .itemWrap {
            z-index: 10;
            color: #fff !important;
            font-family: "Noto Sans JP", sans-serif;
            text-decoration: none;
            width: 80%;
            margin: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            position: absolute;
            top: 50%;
            .itemText {
              color: #fff !important;
              font-size: 25px;
              font-family: "Noto Sans JP", sans-serif;
              font-weight: 600;
              text-align: center;
              text-decoration: none;
            }
          }
        }
      }
    }
    .viewButton {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  .productSlider {
    background-color: #fff;
    .sectionTitle {
      padding-bottom: 2rem;
      text-align: center;
      h3 {
        font-weight: 600;
        color: #666;
        display: inline-block;
        position: relative;
        font-size: 24px;
        padding-bottom: 0.25rem;
        border-bottom: 3px solid #e65550;
      }
    }
  }
}
