.formName{
    .log{
        text-align: center;
        position: relative;
        color: #666;
        span{
            font-weight: 500;
            font-size: 2.5rem;
            font-family: "Roboto",sans-serif;
        }
    }
}